{% extends 'base.html' %}

{% block title %}
    Epic Summoners-评论频道
{% endblock %}


{% block content %}

<section class="content-header">
      <h1>
        Epic Summoners Google平台 玩家评论
        <small>It may not be the latest reply</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">reply</a></li>
        <li class="active">idl</li>
      </ol>
    </section>

    <!-- Main content -->
<section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Reply Table</h3>
                <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
{#                  <li><a href="#">&laquo;</a></li>#}
                <li>
                  {% if contacts.has_previous %}
                  <a href="?page={{ contacts.previous_page_number }}">&laquo;</a>
                  {% endif %}
                </li>
{#                  <li><a href="#">1</a></li>#}

                <li>
                  <span class="current">
                  {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                  </span>
                </li>
{#                  <li><a href="#">&raquo;</a></li>#}
                <li>
                    {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">&raquo;</a>
                    {% endif %}
                </li>
                </ul>
              </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>authorName</th>
                  <th>starRating</th>
                  <th>text</th>
                  <th>googletime</th>
                  <th>reviewerLanguage</th>
                  <th>Status</th>
                  <th>Reply</th>
                </tr>
                    {% for i in contacts %}
                        <tr>
                        <td>{{ i.authorName }}</td>
                        <td>{{ i.starRating }}</td>
                        <td>{{ i.text }}</td>
                        <td>{{ i.time }}</td>
                        <td>{{ i.reviewerLanguage }}</td>
                        <td>
                            {% if i.developertext = None %}
                                <span class="label label-warning">Pending</span>
                            {% else %}
                                <span class="label label-success">Done</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ i.id }}" class="btn btn-primary btn-xs">replay</a>
                        </td>
                        </tr>
                    {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->


{% endblock %}